.navigation {
    background-color: $colorPrimary;
    position: relative;



    &--logo {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        background-image: linear-gradient(to right bottom, $colorLighter, $colorPrimary);
        box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);

        @mixin atMedium {
            z-index: inherit;
            position: absolute;
            width: auto;
            left: 10%;
            transform: none;
        }

        h1 {
            padding: 1rem;
            color: $textColor;
            font-size: 2rem;
            font-weight: 200;
            white-space: nowrap;

            @mixin atSmall {
                padding: 2rem;
                font-size: 2.5rem;
            }
        }

        a,
        Link {
            text-decoration: none;
            color: inherit;
        }
    }

    &--list {
        display: none;
        
        @mixin atMedium {
            display: block;
            padding: .4rem 0;
            @mixin clearfix {}
        }

        ul {
            float: right;

            li {
                list-style: none;
                padding: 1rem 1.5rem;
                border: .2rem solid $textColor;
                color: $textColor;
                transition: all .3s ease-out;
                cursor: pointer;

                &:hover{
                    background-color: $colorLighter;
                    border-bottom: .2rem solid $textColor;
                    color: $textColor;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
                }

                a,
                Link {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}